
<div class="container">
    <h1 class="text-center">all products</h1>
    <div id="ItemArea" class="d-flex justify-content-around flex-wrap">
                    
    </div>
</div>


 @section Scripts
{
    <script src="~/Modules/Helper.js"></script>
    <script src="~/Modules/Products.js"></script>
     <script>
        ClsProducs.GetAll();
    </script> 
}
